/* re perojetc new */
/*
re project
Theme Name:
Author: yaminncco

Colors:
	Body 		  : #868F9B
	Headers 	: #10161A
	Primary 	: #6195FF
	Dark      : #FCFCFF
	Grey 		  : #F4F4F4 #FAFAFA #EEE

Fonts: Montserrat Varela Round

Table OF Contents
------------------------------------
1 > General
2 > Logo
3 > Navigation
4 > Header
5 > About
6 > Portfolio
7 > Services
8 >  Why choose us
9 >  Numbers
10 > Pricing
11 > Testimonial
12 > Team
13 > Blog
14 > Blog post
15 > Blog sidebar
16 > Contact
17 > Footer
18 > Responsive
19 > Owl theme
20 > Back to top
21 > Preloader

------------------------------------*/

/*------------------------------------*\
	General
\*------------------------------------*/


/* -- typography -- */

body {
  font-family: 'FontEN','FontTH';
    font-size: 1.5625rem;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FontEN','FontTH';
    font-weight: 700;
    margin-top: 0px;
    color: #10161A;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.9375rem;
}

h3 {
    font-size: 3.875rem;
}

h4 {
    font-size: 3.8125rem;
}

h5 {
    font-size: 3.75rem;
}
h6{
  font-size: 3.6875rem;
}
p{
  font-size: 1.625rem;
}

a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* -- section  -- */



.bg-img {
  background-image: url(../img/bkg/bkg.jpg);
  height:100%;
  background-size: 100%,cover;
  background-repeat: no-repeat;
}


#footer {
  position: inherit;
  display: block;
  text-align: center;
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}
@media only screen and (max-width: 1441px) {
.btn-org2{
  font-size: 2rem;
}
.btn-secondary{
  font-size: 2rem;
  }
  .pf{
    display:  visible !important;
  }
  .ps{
    display:  none !important;
  }

}





@media only screen and (max-width: 1025px) {

  body{
    font-size: 1.2rem;
  }
  h1 {
      font-size: 4rem;
  }

  h2 {
      font-size: 3.5rem;
  }

  h3 {
      font-size: 3rem;
  }

  h4 {
      font-size:2.75rem;
  }

  h5 {
      font-size: 2.5rem;
  }
  h6{
    font-size: 2rem;
  }

  .btn-org2{
    font-size: 20px !important;
  }
  .btn-secondary{
    font-size: 20px !important;
  }
  .tip{
    margin-top: 23% !important
  }
  .rounded{
    border-radius: .25rem !important;
      width: 10rem!important;
      height: 10rem !important;
  }
  .Liv{

  }
}

@media only screen and (max-width: 768px) {
  h1 {
      font-size: 3.5rem;
  }

  h2 {
      font-size: 3rem;
  }

  h3 {
      font-size: 2.75rem;
  }

  h4 {
      font-size:2.5rem;
  }

  h5 {
      font-size: 2rem;
  }
  h6{
    font-size: 1.75rem;
  }
  p{
    font-size:1.5rem;
}

.rounded {
    border-radius: .25rem !important;
    width: 6rem!important;
    height: 6rem !important;
}
.pf{
display: none !important;
}
.ps{
display: inline!important;
}


.tip{
  margin-top: 24% !important;
}
.jr {
    margin-bottom: 2%!important;
}
.menu{
  width: 50% !important;
  height: auto !important;
}
}

@media only screen and (max-width: 426px) {
  h1 {
      font-size: 2.5rem;
  }

  h2 {
      font-size: 1.75rem;
  }

  h3 {
      font-size: 1.55rem  ;
  }

  h4 {
      font-size:1.45rem;
  }

  h5 {
      font-size: 1.55rem;
  }
  h6{
    font-size: 1.45rem;
  }
  p{
    font-size:1.4rem;
  }
  .btn-org2 {
      font-size: 0.75rem !important
  }
  .btn-secondary {
    font-size: 0.75rem !important
}
.tip {
    margin-top: 21% !important;
}
.jr{
  margin-top: 40% !important;
  margin-bottom: 1% !important;
}
.smil{
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
}
.smils{
  width: 60% !important;
  height: 100% !important;
  max-width: 100% !important;
}
.tips {
    margin-top: 22% !important;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1rem;
      margin-bottom: 0;
  }

  h3 {
      font-size: 1.35rem  ;
  }

  h4 {
      font-size:1.15rem;
  }

  h5 {
      font-size: 1.45rem;
  }
  h6{
    font-size: 1.4rem;
  }
  p{
    font-size:1.3rem;
  }
  .smil{
    width: 50%;
    height: auto;
  }
  .tip {
    margin-top: 29% !important;
}
.tips {
    margin-top: 28% !important;
  }
}
@media only screen and (max-width: 320px) {

  .tip {
    margin-top: 26% !important;
}
.tips {
    margin-top: 16% !important;
  }
}




.btn-dese{
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}
.btn-nav{
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.bkg-up{
  background-image: url(../img/bkg/back.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

.navfoot{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;

}
.footcell{
width: 200px;
  height: auto;
}
.gil{
display: inline;
}

.fixto{
  margin-bottom: 2%;
  margin-top: 58%;
}
.roe{
  padding-top: 6%;
}
.btn.theme-btn {
    background-color: #C93756;
    border-radius: 4px;
    color: #fff;
}
.wrapper {
   display: block;
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin-bottom: -20px;
}
.roundeds {
  border-radius: .25rem;
}
.rounded {
    border-radius: .25rem ;
    width: 15rem;
    height: 15rem ;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto
}

.pht{
  background: transparent;
  border: 0px;
  width: 100%;
}
.tip{
  margin-top: 28%;
  margin-bottom: 3%;

}
.tips {
    margin-top: 24%;
    margin-bottom: 3%;
}
.jr{
  margin-top: 39%;
  margin-bottom: 3%;
}
.img-responsive {
  width: 100%;
  display: block;
  height: auto
}
.img-responsive{
  max-width: 100%
}

.btn-org2{
  background: #ff4d00 !important;
    color: #fff !important;
  }
.bg-tip{
  background: rgb(52, 58, 64);
}
.mid{
  margin-bottom: 2%;
}
.miss{
  margin-top: 2%;
}
.Liv{
  margin-top: -57%;
}
