@charset "UTF-8";
/* ==========================================================================
   [Theme Stylesheet]

    Project                  :       Lavalite
    Version                  :       1.0
    Author                   :       Renfos Technologies
    Author  URl              :       www.renfos.com
    Primary use              :       Default

========================================================================== */

/* ==========================================================================
   Theme styles: opinionated defaults
========================================================================== */

body {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
}
a, a.btn, .btn, button, .transition {
    -webkit-transition: all 0.3s ease 0.0s;
    -moz-transition: all 0.3s ease 0.0s;
    transition: all 0.3s ease 0.0s;
}
.form-control {
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
.form-control:focus {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: none;
}
.btn {
    border-radius: 30px;
    font-weight: 500;
    padding: 8px 15px;
    text-transform: capitalize;
    -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.12);
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.navbar-default {
    background-color: #ef4153;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    height: auto;
}
.navbar-default .navbar-brand img {
    height: 36px;
}
.navbar-default .nav li a {
    color: #fff;
    font-size: 14px;
    padding: 7px 13px;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 200ms;
}
.navbar-default .nav li a.btn {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 4px 15px;
}
.navbar-default .navbar-nav.navbar-right {
    margin-top: 15px;
}
.navbar-default .navbar-right li a {
    margin-left: 10px;
}
.navbar-default .navbar-nav li a:hover {
    opacity: 1;
    color: #fff;
}
.dashboard {
    padding: 40px 0;
    background: #F6F7FB;
    min-height: calc(100vh - 66px);
}
.dashboard .sidebar .user-profile img {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.1);
}
.dashboard .sidebar .user-profile {
    text-align: center;
}
.dashboard .sidebar .user-profile h3 {
    font-size: 22px;
    font-weight: 400;
    color: #444;
    margin-bottom: 20px;
}
.dashboard .sidebar .user-profile h3 span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    color: #888;
}
.dashboard .sidebar .user-profile p {
    margin-bottom: 30px;
}
.dashboard .sidebar .user-profile p a {
    color: #ef4153;
    font-weight: 300;
    font-size: 14px;
}
.dashboard .sidebar .user-profile p a i {
    margin-right: 5px;
    font-weight: 500;
    display: inline-block;
    vertical-align: text-bottom;
}
.dashboard .sidebar .user-profile p a:last-child {
    margin-left: 20px;
}
.theme-btn {
    background-color: #ef4153;
    border-radius: 30px;
    font-weight: 500;
    color: #fff;
    padding: 8px 15px;
    text-transform: capitalize;
}
.theme-btn:hover, .theme-btn:focus {
    color: #fff;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.order-card {
    color: #fff;
}
.order-card i {
    font-size: 30px;
}
.card .card-block {
    padding: 25px;
}
.card .card-block h6 {
    font-weight: 600;
    margin-top: 0;
    font-size: 15px;
    text-transform: capitalize;
}
.card .card-block h2 {
    font-weight: 600;
    margin-top: 0;
}
.card .card-block p {
    line-height: 1.4;
    font-weight: 500;
}
.card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 25px;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-header h5 {
    margin-bottom: 0;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.4;
    margin-top: 0;
}
.card .card-header+.card-block, .card .card-header+.card-block-big {
    padding-top: 0;
}
.card .card-header .card-header-right {
    border-radius: 0 0 0 7px;
    right: 10px;
    top: 18px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    position: absolute;
}
.card .card-header .card-header-right .card-option {
    width: 35px;
    height: 20px;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.card .card-header .card-header-right .card-option li {
    display: inline-block;
}
.card .card-header .card-header-right i {
    margin: 0 11px;
    cursor: pointer;
    font-size: 12px;
    color: #8c8c8c;
    line-height: 2;
    font-weight: 300;
}
.card.full-card {
    position: fixed;
    top: 0;
    z-index: 99999;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
    border-radius: 0;
    border: 1px solid #ddd;
    width: 100vw;
    height: 100vh;
}
.fw600 {
    font-weight: 600;
}
.text-blue {
    color: #4099ff;
}
.text-pink {
    color: #FF5370;
}
.bg-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.bg-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
.bg-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}
.bg-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}
#statistics-chart {
    height: 200px;
    width: 100%;
}
#process-complience-chart {
    height: 200px;
    width: 100%;
}
#feedback-chart {
    height: 200px;
    width: 100%;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
}
.flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.b-r-default {
    border-right: 1px solid #d6d6d6;
}
.list-view {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-view .list-view-media {
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eef1f2;
}
.list-view .list-view-media:last-child {
    margin-bottom: 0;
    padding: 0;
    border-bottom: 0;
}
.list-view .list-view-media+.list-view-media {
    margin-top: 10px;
}
.list-view .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.list-view .media-left {
    padding-right: 20px;
}
.list-view .card-list-img {
    width: 150px;
    border-radius: 5px;
}
.list-view .media-body {
    -ms-flex: 1;
    flex: 1;
}
.list-view .heading {
    position: relative;
}
.list-view .heading h3 {
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    text-transform: capitalize;
}
.list-view .heading h6 {
    font-weight: 400;
    font-size: 13px;
    color: #666;
}
.list-view .media-body p {
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 25px;
}
.list-view .list-view-media .card-block {
    padding: 0px;
}
.list-view .heading .status {
    position: absolute;
    right: 5px;
    top: 5px;
}
.list-view .heading .status span {
    position: relative;
    padding-left: 20px;
}
.list-view .heading .status span:last-child {
    margin-left: 15px;
}
.list-view .heading .status span::before {
    position: absolute;
    top: -5px;
    left: 0;
    font-family: 'simple-line-icons';
    display: inline-block;
    font-size: 16px;
}
.list-view .heading .status .verified::before {
    content: "\e028";
}
.list-view .heading .status .approved::before {
    content: "\e080";
}
.list-view .heading .status .verified, .list-view .heading .status .approved {
    color: #09af11;
}
.list-view .list-view-media .actions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    text-align: right;
}
.list-view .list-view-media .actions a {
    font-size: 15px;
    line-height: 25px;
}
.list-view .list-view-media .actions a:last-child {
    margin-top: 5px;
}
.tooltip {
    font-family: 'Ubuntu', sans-serif;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #333;
}
.tooltip .tooltip-inner {
    font-weight: 500;
    background-color: #333;
}
footer {
    background-color: #333;
    padding: 30px 0;
}
footer p {
    color: #fff;
    margin: 0;
}
.card .card-block h5.title {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    padding-bottom: 20px;
}
form label {
    font-size: 14px;
    color: #313a46;
    letter-spacing: 0.01em;
    font-weight: normal;
    margin-bottom: .5rem;
}
form .form-control {
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 7px 12px;
    min-height: 40px;
    max-width: 100%;
    font-size: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
form .form-control:focus {
    border-color: #ffaebf;
}
form input[type="checkbox"], form input[type="radio"] {
    top: -2px;
}
.card .card-block form .radio label+label {
    margin-left: 15px;
}
.card .card-block form .btn+.btn {
    margin-left: 5px;
}
.card .card-block form .photo-file-cropper {
    padding: 0 20%;
}
.card .card-block form .photo-file-cropper .btn+.btn {
    margin-left: 0;
}
.card .card-block form .photo-file-cropper label {
    margin-bottom: 0;
}
.card .card-block form .dropzone {
    border: 1px solid #dadada;
    min-height: 140px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.03);
    padding: 7px;
    background-color: #fff;
}
.wrapper-page {
    display: table;
    height: 100vh;
    width: 100%;
}
.account-pages {
    display: table-cell;
    vertical-align: middle;
}
.account-pages hr {
    border: none;
    height: 1px;
    width: calc(100% - 40px);
    background-color: #efefef;
    margin: 15px auto;
}
.account-box {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
}
.account-logo-box {
    padding: 30px 30px 0 30px;
}
.account-logo-box h4 {
    color: #666;
}
.account-box .account-content {
    padding: 30px;
}
.card-block .nav-tabs>li>a {
    color: #999;
}
.card-block .nav-tabs>li.active>a, .card-block .nav-tabs>li.active>a:focus, .card-block .nav-tabs>li.active>a:hover {
    color: #333;
}

.tabs-bordered {
    border-bottom: 2px solid #eaeaea !important;
}
.tabs-bordered li a, .tabs-bordered li a:hover, .tabs-bordered li a:focus {
    border: 0 !important;
    padding: 15px 20px;
    margin-right: 0;
    border-bottom: 2px solid #eaeaea !important;
    background-color: transparent;
}
.tabs-bordered li.active a {
    border-bottom: 2px solid #ef4153 !important;
}
.tabs-bordered li {
    margin-bottom: -2px;
}
.page-wrapper .lock-wraper {
    text-align: center;
    padding: 80px 0;
}
.page-wrapper .lock-wraper svg {
    width: 150px;
    margin-bottom: 30px;
}
.page-wrapper .lock-wraper h2 {
    font-weight: 700;
    font-size: 30px;
    color: #ef4153;
    margin-bottom: 10px;
}
.page-wrapper .lock-wraper h6 {
    font-size: 18px;
    color: #666;
    font-weight: 500;
}
.card .card-header .tabs-bordered li a {
    padding-top: 0 !important;
}
.card .card-block .card-title {
    margin-bottom: 20px;
}
.card .card-block .card-title h5 {
    float: left;
    font-size: 16px;
}
.card .card-block .card-title .add-btn + .form-search {
    margin-right: 10px;
}
.card .card-block .card-title .form-search .form-control {
    min-height: 30px;
    padding-right: 32px;
    border-radius: 30px;
    font-size: 13px;
    padding-left: 15px;
}
.card .card-block .card-title .form-search {
    position: relative;
}
.card .card-block .card-title .form-search .btn {
    position: absolute;
    right: 4px;
    width: 26px;
    height: 26px;
    display: inline-block;
    top: 4px;
    padding: 0;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
}
.page-wrapper .header {
    margin-bottom: 20px;
}
.page-wrapper .header h2.main-title {
    margin: 0;
    font-size: 20px;
}
.page-wrapper .header .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.page-wrapper .header .breadcrumb li a {
    color: #ef4153;
}
.page-wrapper .header .breadcrumb li.active {
    color: #777;
}
.card .card-block .card-title  .nav-tabs .add-btn {
    margin-top: -4px !important;
}
.card .card-block .card-title  .nav-tabs .form-search {
    margin-top: -8px;
}
.social-icons .fa {
  font-size: 16px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
}

.social-icons .fa-facebook {
  background: #3B5998;
  color: white;
}

.social-icons .fa-twitter {
  background: #55ACEE;
  color: white;
}

.social-icons .fa-google-plus {
  background: #dd4b39;
  color: white;
}

.social-icons .fa-linkedin {
  background: #007bb5;
  color: white;
}

.grid .list-view-media .card-block {
    padding: 0;
}
.grid .list-view-media .card-block .card-list-img {
    width: 100%;
}
.grid .list-view-media .card-block .media-left {
    display: block;
    padding: 0;
}
.grid .list-view-media .card-block .media-body {
    display: block;
    padding: 15px;
    width: 100%;
    padding-bottom: 50px;
    border: 1px solid #eaeaea;
    border-top: 0;
    border-radius: 0 0 5px 5px ;
}
.grid .list-view-media .card-block .media {
    display: block;
}
.grid .list-view-media .card-block .heading .status {
    position: relative;
}
.grid .list-view-media .card-block .heading h6 {
    margin-bottom: 5px;
}
.grid .list-view-media .card-block .media-body p {
    padding-right: 0;
    margin-top: 10px;
    display: none;
}
.grid .list-view-media .card-block .actions {
    width: 100%;
    bottom: 10px;
    left: 15px;
    right: auto;
    text-align: left;
}
.grid .list-view-media .card-block .actions a {
    margin-right: 10px;
}
.grid .list-view-media .card-block .card-list-img {
    border-radius: 5px 5px 0 0;
}


.upload-wraper .dropzone {
    padding: 0;
    display: inline-block;
    float: left;
    min-height: auto;
}
.upload-wraper .dropzone{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px dashed #000000;
    margin: 10px;
    width:100px;
    height:80px;
}
.upload-wraper .dropzone .dz-message {
    text-align: center;
    margin: 1.5em 0;
}

.upload-wraper .dropzone .addfile {
    display: inline-block;
    background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
}
.upload-wraper .dropzone .addfile .add-file i {
    font-size: 60px;
    color: #fff;
    line-height: 100px;
}
.upload-wraper .dropzone .addfile .add-file {
    margin: 0;
    display: inline-block;
}

.upload-wraper .image-editor .img-box {
    margin: 10px;
    width: 100px;
    display: inline-block;
}
.upload-wraper .image-editor .img-box .img-container img {
    border-radius: 10px;
}
.upload-wraper .image-editor .img-box .img-container {
    position: relative;
}
.upload-wraper .image-editor .img-box .img-container .btn-container {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
}
.upload-wraper .image-editor .img-box .img-container .btn-container a {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
    background-color: #00bcd4;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    opacity: 0;
}
.upload-wraper .image-editor .img-box .img-container .btn-container a.remove-image {
    background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.upload-wraper .image-editor .img-box .img-container .btn-container a.move-image {
    background-color: #9c27b0;
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}
.upload-wraper .image-editor .img-box:hover .img-container .btn-container a.move-image {
    opacity: 1;
    animation: scaleIn 0.6s;
}
.upload-wraper .image-editor .img-box:hover .img-container .btn-container a.edit-image {
    opacity: 1;
    animation: scaleIn 0.4s;
}
.upload-wraper .image-editor .img-box:hover .img-container .btn-container a.remove-image {
    opacity: 1;
    animation: scaleIn 0.2s;
}
.upload-wraper .edit-wraper {
    position: absolute;
    width: 95%;
    height: 99%;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    padding: 10px;
    z-index: 1001
}
.upload-wraper {
    border-style: dotted;
    border-width: 1px;
    min-height: 200px
}
.upload-wraper .move-image {
  cursor: move;
  cursor: -webkit-grabbing;
}
.dropzone .dz-message {
    text-align: center;
    margin: 1.5em 0;
}
@media only screen and (max-width: 991px) {
    .list-view .media {
        display: block;
    }
    .list-view .media-left {
        display: block;
        padding-right: 0;
        margin-bottom: 10px;
    }
    .list-view .media-body {
        width: 100%;
    }
    .list-view .heading .status {
        position: static;
        margin-bottom: 10px;
    }
    .list-view .media-body p {
        padding-right: 0;
    }
    .list-view .list-view-media .actions {
        position: static;
        width: 100%;
        margin-top: 10px;
        text-align: left;
    }
    .list-view .list-view-media .actions a {
        display: inline-block;
        width: 30px;
        line-height: 1;
    }
}
@media only screen and (max-width: 768px) {
    .dashboard .sidebar .user-profile {
        margin-bottom: 30px;
    }
    .navbar-header {
        float: left;
    }
    .navbar-default .navbar-nav.navbar-right {
        float: right;
        margin-right: 5px;
    }
    .navbar-collapse {
        display: block !important;
    }
    .navbar-default .nav li {
        float: left;
    }
    .navbar-default .navbar-toggle {
        display: none;
    }
}